@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Quicksand:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body{
  background-image: url("img/bg.jpg");
}

#navbar-logo{
  width: 100px;
  height: 100px;
  transition: 0.1s ease-in;
}

#navbar-logo:hover{
  width: 110px;
  height: 110px;
  transition: 0.1s ease-in;
}

.logo-link{
  margin: 20px 25px 25px 25px;
  position: absolute;
  left: 0px;
  top: 10px;
}

nav{
  background-color: rgb(255, 255, 255);
  border-bottom: 2px dashed black;
  display: flex;        
  height: 150px;
  width: 100%;
  font-family: 'Amatic SC', cursive;
  font-weight: bold; 
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;  
}

nav ul{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

nav * {  
  display: inline;  
}  

nav li {    
  margin-right: 60px;
}

nav li a {
  transition: 0.2s ease-in;
  font-size: 40px;  
  color: rgb(25, 25, 25) !important;  
  text-decoration: none;  
}

nav li a:hover{
  font-size: 50px;
  transition: 0.2s ease-in-out;
}

a{
  color: rgba(35, 35, 35, 1);
}

a{
  text-decoration: underline;
}

a:visited{
  color: gray;

}

#slajder {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  margin-top: 20px;
  border-radius: 25px;
}

#slajder img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s;
}

#slajder img.active {
  opacity: 1;
}

#slajder button {
  position: absolute;
  top: 45%;
  width: 50px;
  height: 50px;
  color: rgba(255,255,255,0.5);
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

#slajder button:hover{
  color: rgba(255,255,255,1);
  transition: 0.1s ease-in;
  background-color:rgb(25, 25, 25, 0.5);
  border-radius: 50%;
}

#slajder .prethodni {
  left: 0;
}

#slajder .sledeci {
  right: 0;
}


.pocetna-naslov{
  text-align: center;
  margin-top: 50px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 64px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
  width: 100%;
}

#najcitanije-container{
  width: 100%;
  text-align: center;
}

.knjiga-container{
  display: inline-block;
  width: 200px;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(255,255,255,0.7);
  border: 1px solid gray;
  border-radius: 5px;
  transition: 0.2s ease-in;
}

.knjiga-container:hover{
  transition: 0.2s ease-in;
  background-color: rgba(255,255,255,1);
  box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.5);
  border: 1px solid rgba(0,128,255,1);
  cursor: pointer;
}

.img-knjiga{
  margin-top: 10px;
  width: 100px;
  height: 150px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.ime-knjige{
  margin-top:5px;
  margin-bottom: 0;
  font-size: x-large;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.pisac{
  margin-bottom: 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
}

.selekcija{
  display: inline;
  justify-content: space-between;
  overflow: hidden;
}

#korpa{
  width: 35px;
  float: left;
  margin-left: 5px;
  opacity: 0;
  transition: 0.2s ease-in;
}

.knjiga-container:hover #korpa{
  opacity: 1;
  transition: 0.2s ease-in;
}

.cena{
  text-align: center;
  justify-content: center;
  margin-right: 5px;
  font-size: xx-large;
  float: right;
  font-family: 'Quicksand', sans-serif;
}

.crta{
  position: relative;
  margin: 60px 5px 20px 5px;
}

#clanska-kartica-newsletter{
  width: 800px;
  overflow: none;
  display: inline;
  justify-content: space-between;
}

#clanska-kartica-newsletter img{
  margin-left: 150px;
  margin-right: 50px;
  width:40%;
  border-radius: 15px;
  float: left;
}

#news-forma {
  display: flex;
  flex-direction: column;
  float: center;
  height: 320px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 75px;
  background: rgb(0,70,150);
  background: linear-gradient(90deg, rgba(0,70,150,1) 0%, rgba(0,0,0,1) 100%);
  border-radius: 10px;
}

#news-labela{
  font-size: 64px;
  text-align: center;
  color: white;
  font-family: 'Amatic SC', cursive;
}

.newsletter-unos{
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 50px;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
}

#news-dugme {
  font-family: 'Quicksand', sans-serif;
  font-size: 32px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  color: rgba(0,70,150,1);
  width: 30%;
  height: 50px;
  cursor: pointer;
}

#footer{
  width: 100%;
  height: 70px;
  background-color: white;
  border-top: 2px dashed black;
  white-space: nowrap;
  margin-top: 70px;
  border-radius: 20px;
  
}

#levi-futer{
  margin-top: 10px;
  margin-left: 40px;
  width: 85%;
  display: inline-block;
}

#levi-futer ul{
  font-family: 'Quicksand', sans-serif;
}

#levi-futer ul li{
  display: inline-block;
  padding-top: 15px;
  padding-left: 15px;
}

#desni-futer{
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  margin-top: 10px;
}

@media screen and (max-width: 1471px) {
  #slajder{
    height: 350px;
  }
  #slajder img{
    height: 350px;
  }
  .knjiga-container{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
  }
  #levi-futer{
    width: 80%;
  }
  #desni-futer{
    margin-right: 0px;
  }
}

@media screen and (max-width: 1213px){
  #slajder{
    height: 325px;
  }
  #slajder img{
    height: 325px;
  }
  .knjiga-container{
    margin-left: 75px;
    margin-right: 75px;
  }
  #news-dugme{
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1063px) {
  #slajder img{
    height: 300px;
  }
  #slajder{
    height: 300px;
  }
  .knjiga-container{
    margin: 50px;
  }
  #clanska-kartica-newsletter{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #clanska-kartica-newsletter img{
    width: 100%;
    margin: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  #news-forma{
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 1px solid red;
    background: #ff7878;
  }
  #levi-futer{
    width: 75%;
  }

}
@media screen and (max-width: 960px) {
  nav li{
    margin-right: 20px;
  }
  
}
@media screen and (max-width: 760px) {
  nav{
    height: 400px;
  }
  nav *{
    display: block;
  }
  nav li{
    width: 100%;
  }
  nav ul{
    margin-top: 130px;
  }
  .knjiga-container{
    margin: 10px;
  }
  .logo-link{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100%;
    left: 41%;
  }
  #slajder img{
    height: 200px;
  }
  #slajder{
    height: 200px;
  }
  #clanska-kartica-newsletter{
    width: 50%;
  }
  #levi-futer{
    width: 65%;
  }
}
@media screen and (max-width: 480px) {
  .logo-link{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100%;
    left: 37%;
  }
  #slajder img{
    height: 125px;
  }
  #slajder{
    height: 125px;
  }
  #clanska-kartica-newsletter{
    width: 70%;
  }
  #news-forma{
    height: 250px;
  }
  #news-forma label{
    font-size: 32px;
  }
  .newsletter-unos{
    font-size: 18px;
  }
  #news-forma button{
    margin: auto;
    width: 70%;
  }
  #footer{
    display: block;
  }
  #levi-futer{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 10px;
  }
  #desni-futer{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 10px;
  }
}